{{define "rules"}}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Правила сокращателя ссылок - golang developer</title>
    <!-- css -->
    <link rel="stylesheet" href="./static/css/url-cutter.css" />
    <!-- js -->
    <script src="./static/js/rules.js"></script>
  </head>

  <body>
    <!-- Заголовок -->
    <section class="header">
      <div class="container">
        <button class="logo"><span class="bold">GOLANG </span>DEVELOPER</button>

        <div class="divider"></div>

        <button class="main-button bold">ГЛАВНАЯ</button>
      </div>
    </section>

    <!-- Контент -->
    <section class="rules">
      <div class="container vertical">
        <h1 class="main-title">
          Условия использования сервиса сокращения ссылок
        </h1>

        <ul>
          <li class="first-level">
            Общие положения
            <ul>
              <li>
                1.1. Данный сервис сокращения ссылок (далее — Сервис) создан в
                целях обучения и демонстрации навыков программиста.
              </li>
              <li>
                1.2. Сервис предоставляется на некоммерческой основе и не
                монетизируется.
              </li>
              <li>
                1.3. Используя Сервис, вы соглашаетесь с настоящими правилами.
              </li>
            </ul>
          </li>
          <li class="first-level">
            Ограничения на использование
            <ul>
              <li>
                2.1. Максимальная длина исходной ссылки не должна превышать 2000
                символов.
              </li>
              <li>
                2.2. Запрещается использовать Сервис для сокращения ссылок,
                ведущих на ресурсы, запрещенные законодательством Российской
                Федерации.
              </li>
              <li>
                2.3. Пользователь несет полную ответственность за содержание и
                легальность ресурсов, на которые ведут сокращаемые ссылки.
              </li>
            </ul>
          </li>
          <li class="first-level">
            Отказ от ответственности
            <ul>
              <li>
                3.1. Администрация Сервиса оставляет за собой право прекратить
                работу Сервиса в любой момент без предварительного уведомления
                пользователей.
              </li>
              <li>
                3.2. Администрация Сервиса может удалить любую сокращенную
                ссылку без объяснения причин.
              </li>
              <li>
                3.3. Сервис не гарантирует бесперебойную работу или сохранность
                сокращенных ссылок в течение какого-либо периода времени.
              </li>
            </ul>
          </li>
          <li class="first-level">
            Изменение правил
            <ul>
              <li>
                4.1. Администрация Сервиса оставляет за собой право изменять
                данные правила без предварительного уведомления пользователей.
              </li>
              <li>
                4.2. Актуальная версия правил всегда доступна на сайте Сервиса.
              </li>
            </ul>
          </li>
          <li class="first-level">
            Контакты
            <ul>
              <li>
                5.1. По всем вопросам, связанным с работой Сервиса, обращайтесь
                по адресу:
                <a href="mailto:tichomirov@golang-developer.ru"
                  >tichomirov@golang-developer.ru</a
                >.
              </li>
              <li>
                5.2. Мы открыты для предложений и идей! Свяжитесь с нами по
                <a href="https://t.me/Tichomirov2003">вашему Telegram</a> для обратной
                связи.
              </li>
            </ul>
          </li>
        </ul>

        <p><strong>Дата последнего обновления правил:</strong> 28.08.2024</p>
      </div>
    </section>

    <!-- Подвал -->
    <section class="footer">
      <div class="container horizontal">
        <a class="link" href="https://t.me/Tichomirov2003">РАЗРАБОТЧИК</a>
      </div>
    </section>
  </body>
</html>

 
{{end}}
{{template "rules" .}}
