<!-- {{define "go-cut"}} -->

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сокращатель ссылок - golang developer</title>
    <!-- css -->
    <link rel="stylesheet" href="./static/css/url-cutter.css" />
    <link rel="stylesheet" href="./static/css/main.css" />
    <!-- js -->
    <script src="./static/js/url-cutter.js"></script>
    <script src="./static/js/unitar.js"></script>
  </head>

  <body>
    <!-- Заголовок -->
    <section class="header">
      <div class="container">
        <button class="logo"><span class="bold">GOLANG </span>DEVELOPER</button>

        <div class="divider"></div>

        <div class="menu-container">
          <a class="menu-button">ЗАЯВКА</a>
          <a class="menu-button">РЕЗЮМЕ</a>
          <a class="menu-button">СЕРВИСЫ</a>
        </div>
      </div>
    </section>

    <section class="resume">
      <div class="container">

        <div class="horizontal">


          <div class="vertical data">
            
          </div>


          <div class="vertical cards"></div>


        </div>


        

        


      </div>
    </section>


    <!-- Подвал -->
    <section class="footer">
      <div class="container horizontal">
        <img
          class="main-img"
          src="/static/img/footer/tg.svg"
          alt="Иконка телеграмма"
        />
        <a class="main-link" href="/rules">Tichomirov2003</a>

        <div class="divider"></div>

        <img
          class="main-img"
          src="/static/img/footer/mail.svg"
          alt="Иконка почты"
        />
        <a class="main-link" href="">tichomirov@golang-developer.ru</a>
      </div>
    </section>
  </body>
</html>

<!-- {{end}}
{{template "go-cut" .}} -->
